@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Light Mode ========== */
@layer base {
  :root {
    --primary: 92 144 229;
    --border-secondary: rgba(215, 221, 228, 0.5);
    --orange: 255 102 0;
  }

  *::-webkit-scrollbar {
    display: none;
  }

}

body {
}

/* ========== Dark Mode ========== */
@media (prefers-color-scheme: dark) {
  :root {
  }
}
