@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Light Mode ========== */
@layer base {
  :root {
    /* 品牌色、主题色 */
    --primary: 92 144 229;

    /* 辅助色 */
    --secondary-light-blue: 248 250 252;
    --secondary-middle-blue: 237 244 252;

    /* 中性色 */
    --background-light: 250 250 250;
    --text-primary: 51 51 51;
    --text-secondary: 76 76 76;
    --text-light: 168 168 168;
    --border-secondary: rgba(215, 221, 228, 0.5);

    /* 功能色 */
    --orange: 255 102 0;
    --green: 63 214 96;
    --blue: 71 141 255;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  /* 英文字体 */
  @font-face {
    font-family: 'MyFont';
    src: local('Inter'), url('./fonts/Inter-VariableFont_slnt,wght.ttf');
  }

  /* 中文字体 */
  @font-face {
    font-family: 'MyFont';
    src: local('PingFang SC');
    unicode-range: U+4E00-9FFF;
  }

  body {
    font-family: 'MyFont';
  }
}

/* ========== Dark Mode ========== */
@media (prefers-color-scheme: dark) {
}
