@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Light Mode ========== */
@layer base {
  :root {
    --orange: 255 102 0;
  }

}

body {
}

/* ========== Dark Mode ========== */
@media (prefers-color-scheme: dark) {
  :root {
  }
}
