@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Light Mode ========== */
:root {
}

body {
}

/* ========== Dark Mode ========== */
@media (prefers-color-scheme: dark) {
  :root {
  }
}
