@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* ========== Light Mode ========== */
@layer base {
  :root {
    /* 品牌色、主题色 */
    --primary: 98 132 180;

    /* 辅助色 */
    --secondary-light-blue: 248 250 252;
    --secondary-middle-blue: 237 244 252;

    /* 背景色 */
    --bg-light-gray: 250 250 250; /* 浅灰 */
    --bg-light-blue: 248 250 252; /* 浅蓝 */
    --bg-middle-gray: 245 245 245; /* 中灰 */

    /* 中性色 */
    --text-primary: 51 51 51;
    --text-secondary: 76 76 76;
    --text-light: 168 168 168;
    --border-secondary: rgba(215, 221, 228, 0.5);

    /* 功能色 */
    --orange: 255 102 0;
    --green: 63 214 96;
    --blue: 71 141 255;
    --yellow: 238 140 43;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  /* 英文字体 */
  @font-face {
    font-family: 'MyFont';
    src: local('Inter'), url('./fonts/Inter-VariableFont_slnt,wght.ttf');
  }

  /* 中文字体 */
  @font-face {
    font-family: 'MyFont';
    src: local('PingFang SC');
    unicode-range: U+4E00-9FFF;
  }

  body {
    font-family: 'MyFont';
  }

  .section-list {
    @apply w-[1200px] pt-12 flex flex-col gap-9;
  }

  .section-item {
    @apply gap-6;
  }

  /* ===== Text ===== */
  .title-large {
    @apply text-[1.875rem] font-semibold leading-none;
  }

  .title-middle {
    @apply text-2xl font-semibold leading-none;
  }
  .title-small {
    @apply text-xl font-medium leading-none;
  }

  .text-middle {
    @apply text-base font-normal leading-none;
  }

  .text-small {
    @apply text-sm font-normal leading-none;
  }

  .text-mini {
    @apply text-xs font-normal leading-none;
  }
}

/* ========== Dark Mode ========== */
@media (prefers-color-scheme: dark) {
}
